{% extends 'base.html.twig' %}

{% block title %}Création de championnat{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Création de championnat</h1>
        <a href="{{ path('app_home') }}" class="btn btn-secondary mt-3">Retour à l'accueil</a>
    </div>
{% endblock %}

